{% extends '::base.html.twig' %}
{% block body %}
  <h2>Vehículos disponibles</h2>
  <ul>
    <li>Acá tiene que ir el listado</li>
    {% for auto in autos %}
    <h3>Id:{{ auto.id }} <a href="{{ auto.id }}"> {{ auto.modelo }} </a> -- Precio: {{ auto.valor }} - </h3>
    {% endfor %}
  </ul>
{% endblock body %}